@use "./base.scss";

// put your custom CSS here!
@font-face {
  font-family: "QiushuiShotai";
  src: url("/static/fonts/QiushuiShotai.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {  // Not QiuShui but add Bold by other font
    font-family: "QiushuiShotai";
    src: url("/static/fonts/LXGWWenKaiMonoTC-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --custom-highlight: #8000ff;
}

:not(pre)>code {
    background-color: var(--lightgray);
    border: 1px solid var(--gray);
    color: var(--custom-highlight);
    border-radius: var(--border-radius);
    padding: 0 .3rem;
    margin: 0 0.2em;
    font-weight: 500;
}

.content-meta {
    font-family: 'Monsieur La Doulaise', cursive;
}

body {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-image:
        linear-gradient(
            color-mix(in srgb, var(--light), transparent 40%),
            color-mix(in srgb, var(--light), transparent 40%)
        ),
        url("/static/images/ToriNoUta.jpg");

    background-color: var(--light);
}