@use "./base.scss";

// put your custom CSS here!
@font-face {
    font-family: "QiushuiShotai";
    src: url("/static/fonts/qshz.woff2") format("woff2"),
        url("/static/fonts/qshz.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}