@use "./base.scss";

// put your custom CSS here!
@font-face {
  font-family: "QiushuiShotai";
  src: url("/static/fonts/QiushuiShotai.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  // Not QiuShui but add Bold by other font
  font-family: "QiushuiShotai";
  src: url("/static/fonts/LXGWWenKaiMonoTC-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YujiMai";
  src: url("/static/fonts/YujiMai-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --custom-highlight: #3082e0;
  --border-radius: 4px;
}

:not(pre) > code {
  background-color: color-mix(in srgb, var(--lightgray), transparent 10%);
  border: 1px solid var(--gray);
  color: var(--custom-highlight);
  border-radius: var(--border-radius);
  padding: 0 0.3rem;
  margin: 0 0.2em;
  font-weight: 500;
}

pre {
  background-color: color-mix(in srgb, var(--lightgray), transparent 10%);
}

.content-meta {
  font-family: "Monsieur La Doulaise", cursive;
}

body {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-image:
    linear-gradient(
      color-mix(in srgb, var(--light), transparent 40%),
      color-mix(in srgb, var(--light), transparent 40%)
    ),
    url("/static/images/ToriNoUta.jpg");

  background-color: var(--light);
}

.page article,
.page-listing {
  background-color: color-mix(in srgb, var(--lightgray), transparent 30%);
  border-radius: 5px;
  padding: 1.5rem;
  box-sizing: border-box;
}

.lyrics {
  font-family: "YujiMai", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
}